body {
background-color:#ecf0f1;
}
.btn-group{
margin-top: 6%;
margin-left: 70%;
display:block;
}
.graphique{
max-width:50%;
max-height:40%; 
margin-top:5%;
margin-left:auto;
margin-right:auto;
display:block;
}
h1{
		animation: fadein 2s;
		  margin-top: 20%;
		  text-align:center;
		  color:white; 
	  }
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@media (max-width: 1024px){
    .btn-group{
margin-top: 20%;
margin-left: 70%;
display:block;
}
    .graphique{
max-width: 100%;
    max-height: 100%;
    margin-top: 40%;
    margin-left: 0%;
    display: block;
}
h1{
		animation: fadein 2s;
		  margin-top: 60%;
		  margin-bottom:40%;
		  text-align:center;
		  color:white; 
	  }
}

#plan{
    width: 600px;
    height: auto;
}